
<div class="navbar" id="main-navigation">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">

<div class="row">

  <div class="span4">

    <div class="btn-group" id="input_select_buttons" data-toggle="buttons-radio">
      <button id="upload_button" type="button" class="btn btn-primary" href="#upload_files" data-toggle="tab"><i class="icon-folder-open"> </i> <%= t(:workspace)%></button>
      <button id="basic_button" type="button" class="btn" href="#basic" data-toggle="tab"><i class="icon-globe"> </i><%= t(:external_files) %></button>
    </div>

    <script type="text/javascript" charset="utf-8">
      $('#upload_button').click(function (e) {
          $("#basic_button").removeClass("btn-primary");
          $("#upload_button").addClass("btn-primary");
          $.cookie('tab', '#upload_button')
      })
      $('#basic_button').click(function (e) {
          $("#upload_button").removeClass("btn-primary");
          $("#basic_button").addClass("btn-primary");
          $.cookie('tab', '#basic_button')
      })
    </script>
  </div>
  <div class="span5">
    <% langs = [[t(:tell_document_lang), ""],["Spanish", "es"], ["English", "en"], ["Catalan", "ca"], ["Portuguese", "pt"], ["Italian", "it"]] %>
    <%= select "execution[input_parameters][inputs]", "language", langs  %>
  </div>
  <div class="pull-right">
    <button type="submit" class="btn btn-warning" name="commit">
      <i class="icon-play-circle icon-white"></i> <%= t(:run) %>
    </button>
  </div>

</div>

      </div>
    </div>
  </div>
</div>


