  <div class="span6">
    <div class="share-buttons pull-right">
      <%= render_shareable :url => "http://contawords.iula.upf.edu", :buttons=> ['twitter',  'linkedin', 'google_plus', 'facebook'] %>
    </div>
  </div>
