
  <div class="jumbotron">
    <h1>ContaWords</h1>
    <p class="lead">Esta aplicación cuenta las palabras de los textos que quieras.</p>
    <%= link_to "¡Empieza a usarlo ya mismo!", executions_path, :class => "btn btn-large btn-success"  %>
  </div>

  <hr>


  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Clasificación</h4>
      <p>Cuenta la frecuencia de cada palabra y la clasifica según es nombre, verbo o adjetivo.</p>

      <h4>Encuentra palabras relacionadas</h4>
      <p>Palabras se relacionan con otras de forma especial, como “cometer crímenes” o “política monetaria”.</p>

    </div>

    <div class="span6">
      <h4>Escaneador de nombres</h4>
      <p>Reconoce nombres de personas o instituciones como “Audiencia Nacional”.</p>

      <h4>Flexible y manejable</h4>
      <p>Los resultados están en una hoja Excel para permitirte filtrarlos y seleccionarlos fácilmente. </p>

    </div>
  </div>

  <hr>

  <div class="row-fluid"><h2>Opiniones de usuarios</h2></div>
  <div class="row">
    <div class="span10">


    <blockquote><p>"yo lo he utilizado para analizar páginas de opinión y twitts". <small>Silvia</small></p></blockquote>
    <blockquote><p>"es muy fácil generar una lista de las palabras de unos documentos cualquiera y ver las más frecuentes". <small>Lauren</small></p></blockquote>
    <blockquote><p>"lo utilizamos para seguir los textos de la campaña electoral". <small>David</small></p></blockquote>
    <blockquote><p>"fue fácil obtener la frecuencia de secuencias de palabras". <small>Sheila</small></p></blockquote>
    <blockquote><p>"sólamente hay que bajarse la aplicación y decirle la dirección web de los textos". <small>Marc</small></p></blockquote>
    <blockquote><p>"copié la dirección del texto tal como la ponía en la biblioteca digital y en un rato me hizo el excel con toda la información de frecuencia que necesitaba". <small>Mikel</small></p></blockquote>

    </div>
  </div>

  <hr />

  <!--div class="row">
    <h4>Example documents</h4>

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Documents</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      <% (1..10).each do |i| %>
        <% url = "http://nlp.ilsp.gr/panacea/D4.3/data/201109/ENV_EN/#{i}.xml"  %>
        <tr>
          <td><a href="<%= url %>"> <%= url %> </a></td>
          <td><%= clippy url %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div-->

  <hr>

