#main-navigation{
  div.navbar-inner{
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav > a {
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
    i {
      font-size: 16px;
    }
  }
  .nav > .active > a {
  background-color: #4a82c6;
  color: white;
  text-shadow: none;
    &:hover{
      background-color: #4479AD;
      color: black;
    }
  }
}
