<%= render :partial => 'shared/header' %>

<div id="page" class="container">
  <%= render partial: "layouts/flash_messages", flash: flash %>
  <div class="row">

    <div class="span12">
      <%= yield %>
    </div>


  </div>
</div>

</body>
</html>
